<div class="form-group {{ PersonBirthdayGroup }}">
    <label>Gebutstag</label>

    <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        <input type="text" class="form-control" name="PersonBirthday" placeholder="Gebutstag"
               data-date-format="DD.MM.YYYY" data-date-language="de" data-date-pickTime="false"
               data-bv-date-format="DD.MM.YYYY"
               value="{{ PersonBirthdayValue }}"/>

        {{ PersonBirthdayFeedbackIcon }}
    </div>
    {{ PersonBirthdayFeedbackMessage }}
</div>
<script type="text/javascript">
    require( ['ModPicker'], function()
        {
            jQuery( 'input[type="text"][name="PersonBirthday"]' ).datetimepicker();
        }
    );
</script>
