<div class="form-group {{ PersonCityGroup }}">
    <label>Geburtsort</label>

    <div class="input-group">
        <span class="input-group-addon">
           <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control Typeahead_City" name="PersonCity" placeholder="Geburtsort"
               value="{{ PersonCityValue }}"/>
        {{ PersonCityFeedbackIcon }}
    </div>
    {{ PersonCityFeedbackMessage }}
</div>

<script type="text/javascript">
    Client.Use( 'ModCompleter', function()
    {
        jQuery( '.Typeahead_City' ).ModCompleter( {
            data: [
                'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
                'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
                'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
                'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
                'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
                'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
                'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
                'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
                'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
            ]
        } );
    } );
</script>
