<div class="form-group {{ PersonCountryGroup }}">
    <label>Land</label>

    <div class="input-group">
        <span class="input-group-addon">
           <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control Typeahead_Country" name="PersonCountry" placeholder="Land"
               value="{{ PersonCountryValue }}"/>
        {{ PersonCountryFeedbackIcon }}
    </div>
    {{ PersonCountryFeedbackMessage }}
</div>

<script type="text/javascript">
    jQuery( '.Typeahead_Country' ).ModCompleter( {
        data: [
            'Deutschland'
        ]
    } );
</script>
