<div class="form-group">
    <label for="PersonGender">Geschlecht</label>

    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-adjust"></span>
        </span>
        <select id="PersonGender" name="PersonGender">
            <option value="0">Männlich</option>
            <option value="1">Weiblich</option>
        </select>
    </div>
</div>
<script type="text/javascript">

    var guiSelect = jQuery( 'select[name="PersonGender"]' );
    guiSelect.find( 'option[value="{{ PersonGenderValue }}"]' ).attr( 'selected', 'selected' );
    guiSelect.ModSelecter();

</script>
