<div class="form-group {{ PersonMiddleNameGroup }}">
    <label>Zweitname</label>

    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control" name="PersonMiddleName" placeholder="Zweitname"
               value="{{ PersonMiddleNameValue }}"/>
        {{ PersonMiddleNameFeedbackIcon }}
    </div>
    {{ PersonMiddleNameFeedbackMessage }}
</div>
