<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Personen</th>
        <th>Anzahl</th>
    </tr>
    </thead>
    <tbody>
    {% for Type, Count in Summary %}
        <tr>
            <td>&nbsp;{{ Type }}</td>
            <td>{{ Count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
