<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
            <h1>Anmeldung</h1>
            <hr/>
            <div>Bitte wählen Sie den Typ der Anmeldung</div>
            <br/>

            <div class="btn-group">
                <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Teacher" class="btn btn-primary">Lehrer</a>
                <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Management" class="btn btn-primary">Verwaltung</a>
                <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Student" class="btn btn-primary">Schüler</a>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
