<div class="btn-group">
    <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Student" class="btn btn-primary"><span
            class="glyphicon glyphicon-lock"></span> Schüler</a>
    <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Teacher" class="btn btn-primary"><span
            class="glyphicon glyphicon-lock"></span> Lehrer</a>
    <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Management" class="btn btn-primary"><span
            class="glyphicon glyphicon-lock"></span> Verwaltung</a>
    <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/System" class="btn btn-danger"><span
            class="glyphicon glyphicon-lock"></span> System</a>
</div>
