@font-face {
    font-family: 'Glyphicons Regular';
    src: url('fonts/glyphiconsregular.eot');
    src: url('fonts/glyphiconsregular.eot') format('embedded-opentype'),
    url('fonts/glyphiconsregular.woff2') format('woff2'),
    url('fonts/glyphiconsregular.woff') format('woff'),
    url('fonts/glyphiconsregular.ttf') format('truetype'),
    url('fotns/glyphiconsregular.svg#glyphiconsregular') format('svg');
}

.glyphicon-money:before {
    font-family: 'Glyphicons Regular';
    content: "\e459";
}

