@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphiconshalflingsregular.eot');
    src: url('fonts/glyphiconshalflingsregular.eot') format('embedded-opentype'),
    url('fonts/glyphiconshalflingsregular.woff2') format('woff2'),
    url('fonts/glyphiconshalflingsregular.woff') format('woff'),
    url('fonts/glyphiconshalflingsregular.ttf') format('truetype'),
    url('fotns/glyphiconshalflingsregular.svg#glyphiconshalflingsregular') format('svg');
}

.glyphicon-education:before {
    content: "\e233";
}
