h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
    color: rgb(153, 153, 153);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {

}

hr {
    border-top: 1px solid rgb(153, 153, 153);
}

/*.glyphicon.glyphicon-yubikey:before {*/
/*display: block;*/
/*width: 14px;*/
/*height: 14px;*/
/*content: " ";*/
/*background: url("Resource/YubiKeyIcon-16x16.ico") center;*/
/*}*/

#phpinfo {
    text-align: left;
}

#phpinfo a {
    color: rgb(255, 0, 0);
}

#phpinfo a:link {
    color: rgb(255, 0, 0);
}

#phpinfo a:hover {
    color: rgb(255, 0, 0);
}

#phpinfo table {
    width: 100%;
}

#phpinfo td, #phpinfo th {
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
}

#phpinfo th {
    padding: 5px;
}

#phpinfo h1 {
    font-size: 1.3em;
}

#phpinfo h2 {
    font-size: 1.2em;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(255, 0, 0);
}

#phpinfo .p {
    margin: 0;
}

#phpinfo .e {
    background: rgb(204, 204, 204);
    width: 30%;
}

#phpinfo .h {
    background: rgb(221, 221, 221);
}

#phpinfo img {
    display: none;
}

.input-group .selecter-selected {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-control.tt-input {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    background: inherit;
    border: 1px solid rgb(204, 204, 204);
    /*noinspection CssOverwrittenProperties*/
    border: 1px solid rgba(0, 0, 0, .15);
}

.bootstrap-datetimepicker-widget td span:hover,
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover,
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
    background: rgb(204, 204, 204);
}

.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
    color: rgb(119, 102, 102);
}

span.twitter-typeahead .tt-dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

@media (min-width: 769px) {
    .footer dl.footer-nav:first-of-type {
        width: 40%;
    }
}
