<form action="" method="post">
    {% for Title, Payload in Form %}
        <h4>{{ Title }}</h4>
        {% for Row, Content in Payload %}
            <div class="row">
                <div class="col-md-6">
                    {{ Content[0] }}
                </div>
                <div class="col-md-6">
                    {{ Content[1] }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="form-group">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Anlegen</button>
        </div>
    </div>
</form>
