<button type="submit" class="btn btn-primary" name="Button[Submit]" value="{{ ElementName }}">
    {% if( ElementIcon is not empty ) %}
        {{ ElementIcon }}
    {% endif %}
    {{ ElementName }}
</button>
