<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10 text-center">
            <h1 class="text-danger">Es ist ein unerwarteter Fehler aufgetreten</h1>
            <hr/>
            <div class="alert alert-warning text-left">
                Typ <strong>{{ ErrorCode }}</strong>

                <div>{{ ErrorMessage }}</div>
            </div>
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
</div>
