<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10 text-center">
            <h1 class="text-info">{{ InformationTitle }}</h1>
            <hr/>
            <div class="alert alert-info text-left">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;
                <strong>{{ InformationDescription }}</strong>
                <br/>

                <div>{{ InformationMessage }}</div>
            </div>
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
</div>
