<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10 text-center">
            <h1>{{ LandingTitle }} {{ LandingDescription }}</h1>
            <hr/>
            <div>{{ LandingMessage }}</div>
            <br/>
            {{ LandingContent }}
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
</div>
