<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
            <h1>Abmelden</h1>
            <hr/>
            <div>Sie werden vom System abgemeldet...</div>
            <meta http-equiv="Refresh" content="2; URL={{ UrlBase }}/Sphere/Gatekeeper/SignIn" property="">
            <script language=javascript>setTimeout( "location.href='{{ UrlBase }}/Sphere/Gatekeeper/SignIn'",
                    2000 );</script>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
