<!-- Navigation (Level:Module) -->
<nav class="navbar navbar-default" role="navigation" style="border-radius: inherit; margin: inherit; border-bottom: 1px solid #DDD;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav navbar-nav navbar-left">
                    {{ PositionMain }}
                </ul>
            </div>
        </div>
    </div>
</nav>
