<!-- Application Navigation -->
<nav class="navbar" role="navigation" style="border-radius: inherit; margin: inherit; border-bottom: 1px solid #DDD;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
</nav>

