<!-- Module Navigation -->
<nav class="navbar" role="navigation" style="border-radius: inherit; margin: inherit; border-bottom: 1px solid #DDD;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <div class="navbar-header">
                    <div class="navbar-text">
                        Zensuren
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <ul class="nav navbar-nav">
                    <li><a href="#">Messages</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
