<!-- Sphere Navigation -->
<nav class="navbar navbar-inverse" role="navigation"
     style="border-radius: inherit; margin: inherit;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <div class="navbar-header">
                    <div class="navbar-text">
                        KREDA Professional
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#"><span class="glyphicon glyphicon-th"></span> Klassen</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Zensuren</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Grunddaten</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Verwaltung</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Login</a></li>
                    <li><a href="/Assistance/Main::Landing"><span class="glyphicon glyphicon-question-sign"></span> Hilfe</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
