<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
            <h1>Zensuren</h1>
            <hr/>
            <div>Bitte wählen Sie ein Thema</div>
            <br/>

        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
