{% for LayoutGroup in Layout %}
    {% if( LayoutGroup.getLayoutTitle is not empty ) %}
        {{ LayoutGroup.getLayoutTitle }}
    {% endif %}
    {% for LayoutRow in LayoutGroup.getLayoutRow %}
        <div class="row">
            {% for LayoutColumn in LayoutRow.getLayoutColumn %}
                <div class="col-md-{{ LayoutColumn.getSize }}">
                    {% for AbstractFrontend in LayoutColumn.getAbstractFrontend %}
                        {{ AbstractFrontend }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}
