<!-- Navigation (Level:Client) -->
<nav class="navbar navbar-inverse" role="navigation"
     style="border-radius: inherit; margin: inherit;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <div class="navbar-header">
                    <div class="navbar-text">
                        KREDA Professional
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <ul class="nav navbar-nav navbar-left">
                    {{ PositionMain }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{ PositionMeta }}
                </ul>
            </div>
        </div>
    </div>
</nav>
