<div class="btn-group">
    <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Teacher" class="btn btn-primary">Lehrer</a>
    <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Management" class="btn btn-primary">Verwaltung</a>
    <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn/Student" class="btn btn-primary">Schüler</a>
</div>
