<button type="submit" class="btn btn-success" name="Button[Submit]" value="{{ ElementName }}">
    {% if( ElementIcon is not empty ) %}
        {{ ElementIcon }}
    {% endif %}
    {{ ElementName }}
</button>
