<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12 text-center">
            <h1>Anmelden</h1>
            <hr/>
            <div>Sie werden am System angemeldet...</div>
            <br/>

            <div>
                <small>Sollten sie nicht automatisch weitergeleitet werden, klicken Sie bitte hier</small>
            </div>
            <br/>

            <div>
                <a href="{{ UrlBase }}/Sphere/Assistance" class="btn btn-primary">Weiter</a>
            </div>
            <meta http-equiv="Refresh" content="2; URL={{ UrlBase }}/Sphere/Assistance" property="">
            <script language=javascript>setTimeout( "location.href='{{ UrlBase }}/Sphere/Assistance'", 1500 );</script>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
