<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12 text-center">
            <h1>Abmelden</h1>
            <hr/>
            <div>Sie werden vom System abgemeldet...</div>
            <br/>

            <div>
                <small>Sollten sie nicht automatisch weitergeleitet werden, klicken Sie bitte hier</small>
            </div>
            <br/>

            <div>
                <a href="{{ UrlBase }}/Sphere/Gatekeeper/SignIn" class="btn btn-primary">Weiter</a>
            </div>
            <meta http-equiv="Refresh" content="1; URL={{ UrlBase }}/Sphere/Gatekeeper/SignIn" property="">
            <script language=javascript>setTimeout( "location.href='{{ UrlBase }}/Sphere/Gatekeeper/SignIn'",
                    1000 );</script>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
