<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10 text-center">
            <h3>Anmelden</h3>
            <hr/>
            <div>Sie werden am System angemeldet...</div>
            <br/>

            <div>
                <small>Sollten sie nicht automatisch weitergeleitet werden, klicken Sie bitte hier</small>
            </div>
            <br/>

            <div>
                <a href="{{ UrlBase }}/Sphere" class="btn btn-primary">Weiter</a>
            </div>
            <meta http-equiv="Refresh" content="1; URL={{ UrlBase }}/Sphere" property="">
            <script language=javascript>setTimeout( "location.href='{{ UrlBase }}/Sphere'", 1000 );</script>
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
</div>
